.product-display{
    height:100vh;
    width:100%; 
    
    &-section{
        position: absolute;
        top:97px;
        width: 100%;
        height:max-content;
        padding-bottom:20px;
        padding: 20px;  
    }
    &-container{
        display: flex;
        align-items: center;
        background: white;
        width: 100%;
        height:max-content; 
    }
    &-image{
        width:30%;
        height: 100%;
        background:white;
        margin-right:20px;
        img{
            padding: 20px 20px;
            width:100%;
            height: 100%;
        }
    }
    &-desc{
        width:45%;
        height:max-content;
        background: white;
        margin-right: 20px;
        padding: 20px 20px;
        hr{
            color:rgb(226, 218, 218);
            opacity: 0.5;
        }
        p{
            font-size: 32px;
            line-height: 32px;
            color:red;
            font-weight: 700;
        }
    }
    &-action{
        width:20%;
        height: 100%;
        background: white;
        padding: 20px 20px;
        button{
            height:60px;
            width:100%;
            border:none;
            border-radius: 5px;
            margin-bottom: 20px;
            padding-top: 5px;
            padding-bottom: 10px;
            font-size:16px;
            line-height: 16px;
        }
    }
    &-offers{
        margin-top: 10px;
        height:200px;
        width:100%;
        background: white;
        p{
            padding: 10px 20px;
        }
        ul{
            padding-left: 50px;
            li{
                padding-left: 20px;
            }
        }
    }
    &-query{
        margin-top: 10px;
        height:150px;
        width:100%;
        padding: 10px 20px;
        background: white;
        position: relative;
        h1{
            margin-bottom: 0px;
            padding-bottom: 2px;
        }
        p{
            margin-top: 0;
            font-size: 13px;
            line-height: 13px;
            color:#858080;
            font-weight: 400;
            padding-left: 10px;
        }
        input{
            height:30px;
            width:50%;
            border:1px solid #858080;
            border-radius: 5px;
            padding-left: 30px;
        }
        .search{
            position: absolute;
            left:28px;
            top:105px;
            opacity: 0.6;
        }
    }
    &-adv{
        margin-top: 10px;
        height:200px;
        width:100%;
        background: white;
        
    }

}

.primary{
    background: $primary-color;
}
.secondary{
    background: $secondary-color;
}
.red-color{
    color: rgb(184, 33, 33);
    font-weight: 700;
}