.product-card{
    width:85%;
    height:370px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 4px 2px #cecbcb;
    padding: 10px 8px;
    
}
.product-title{
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 13px;
}
.product-image {
   margin-bottom: 10px;
   height: 60%;
   text-align: center;
}
.product-image img{
    height: 100%;
    width: 95%;
    margin: auto;
}

.product-price{
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
}
.product-rating{
    padding: 10px;
    font-size: 13px;
    line-height: 13px;
}

.product-add-btn{
    padding-left: 10px;
}
.product-add-btn button{
    background: #EFBF45;
    text-align: center;
    border: none;
    border-radius: 4px;
    width:90%;
    height:30px;
    font-size: 13px;
    line-height: 13px;
    box-shadow: 0px 0px 3px 1px gray;
    &:hover{
        background: #e0a91e;
    }
}