@import "../node_modules/slick-carousel/slick/slick.scss";
@import "../node_modules/slick-carousel/slick/slick-theme.scss";

$link-color:#0066c0;
$btn-color:#EFBF45;

*{
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body{
    padding:0px;
    margin:0px;
    background: #EAEDED;
}

.app{
    position: relative;
}

a{
    color:$link-color;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.red{
    color:rgb(190, 30, 30);
    font-size: small;
}

@import "./styles/navbar";
@import "./styles/navbar2";
@import "./styles/home";
@import "./styles/productcard";
@import "./styles/login";
@import "./styles/mainMenu";
@import "./styles/menuItem";

